
@{
    ViewBag.Title = "Detail";
}

<h1>Information Vendeur</h1>
<div class="row">
    <div class="container col-md-4">

        <div class="col-md-4">Prenom</div>
        <div class="col-md-4">:</div>
        <div class="col-md-4">@ViewBag.MonVendeur.FirstName </div>

        <div class="col-md-4">Nom</div>
        <div class="col-md-4">:</div>
        <div class="col-md-4">@ViewBag.MonVendeur.LastName </div>

        <div class="col-md-4">Email</div>
        <div class="col-md-4">:</div>
        <div class="col-md-4">@ViewBag.MonVendeur.Email </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-4 thumbnail">
                <img src="https://mediasv6.truffaut.com/Articles/jpg/0019000/19324_001_350.jpg" alt="Alternate Text" style="width:100%"/>
                <div class="caption">
                    <p>Lorem ipsum...</p>
                </div>
    </div>
</div>
