
@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2>

<div>
    <form id="f1">
        <label>Titre photo</label>
        <input type="text" name="SaisiTitre" id="t1" placeholder="Saisissez le titre de la photo" />
        <input type="submit" name="name" id="b1" value="Ajouter" />
    </form>
</div>

